@charset "UTF-8";
/*!
 * Timepicker Component for Twitter Bootstrap
 *
 * Copyright 2013 Joris de Wit
 *
 * Contributors https://github.com/jdewit/bootstrap-timepicker/graphs/contributors
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
.bootstrap-timepicker {
  position: relative;
}
.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu {
  left: auto;
  right: 0;
}
.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:before {
  left: auto;
  right: 12px;
}
.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu:after {
  left: auto;
  right: 13px;
}
.bootstrap-timepicker .input-group-addon {
  cursor: pointer;
}
.bootstrap-timepicker .input-group-addon i {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.bootstrap-timepicker-widget.dropdown-menu {
  padding: 4px;
}
.bootstrap-timepicker-widget.dropdown-menu.open {
  display: inline-block;
}
.bootstrap-timepicker-widget.dropdown-menu:before {
  border-bottom: 7px solid rgba(0, 0, 0, 0.2);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
}
.bootstrap-timepicker-widget.dropdown-menu:after {
  border-bottom: 6px solid #FFFFFF;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
}
.bootstrap-timepicker-widget.timepicker-orient-left:before {
  left: 6px;
}
.bootstrap-timepicker-widget.timepicker-orient-left:after {
  left: 7px;
}
.bootstrap-timepicker-widget.timepicker-orient-right:before {
  right: 6px;
}
.bootstrap-timepicker-widget.timepicker-orient-right:after {
  right: 7px;
}
.bootstrap-timepicker-widget.timepicker-orient-top:before {
  top: -7px;
}
.bootstrap-timepicker-widget.timepicker-orient-top:after {
  top: -6px;
}
.bootstrap-timepicker-widget.timepicker-orient-bottom:before {
  bottom: -7px;
  border-bottom: 0;
  border-top: 7px solid #999;
}
.bootstrap-timepicker-widget.timepicker-orient-bottom:after {
  bottom: -6px;
  border-bottom: 0;
  border-top: 6px solid #ffffff;
}
.bootstrap-timepicker-widget a.btn, .bootstrap-timepicker-widget input {
  border-radius: 4px;
}
.bootstrap-timepicker-widget table {
  width: 100%;
  margin: 0;
}
.bootstrap-timepicker-widget table td {
  text-align: center;
  height: 30px;
  margin: 0;
  padding: 2px;
}
.bootstrap-timepicker-widget table td:not(.separator) {
  min-width: 30px;
}
.bootstrap-timepicker-widget table td span {
  width: 100%;
}
.bootstrap-timepicker-widget table td a {
  border: 1px transparent solid;
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 8px 0;
  outline: 0;
  color: #333;
}
.bootstrap-timepicker-widget table td a:hover {
  text-decoration: none;
  background-color: #eee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-color: #ddd;
}
.bootstrap-timepicker-widget table td a i {
  margin-top: 2px;
  font-size: 18px;
}
.bootstrap-timepicker-widget table td input {
  width: 25px;
  margin: 0;
  text-align: center;
}

.bootstrap-timepicker-widget .modal-content {
  padding: 4px;
}

@media (min-width: 767px) {
  .bootstrap-timepicker-widget.modal {
    width: 200px;
    margin-left: -100px;
  }
}
@media (max-width: 767px) {
  .bootstrap-timepicker {
    width: 100%;
  }
  .bootstrap-timepicker .dropdown-menu {
    width: 100%;
  }
}
.rtcl .bootstrap-timepicker-widget {
  max-width: 160px;
}
.rtcl .bootstrap-timepicker-widget table td.separator {
  width: 10px;
}
.rtcl .bootstrap-timepicker-widget table td input {
  width: 40px;
  padding: 5px;
}
.rtcl .bootstrap-timepicker-widget table td a {
  padding: 2px 0;
}
.rtcl .bootstrap-timepicker-widget table td a .glyphicon-chevron-up:before {
  content: "";
  font-family: "rtcl-glyphs", serif;
  font-weight: bold;
}
.rtcl .bootstrap-timepicker-widget table td a .glyphicon-chevron-down:before {
  content: "";
  font-family: "rtcl-glyphs", serif;
  font-weight: bold;
}

.rtcl-store-settings .rtcl-store-media-item.rtcl-store-banner-wrap .rtcl-store-banner {
  position: relative;
  background: #008329;
  min-height: 100px;
  text-align: center;
}
.rtcl-store-settings .rtcl-store-media-item.rtcl-store-banner-wrap .rtcl-store-banner.no-banner:after {
  font-family: "rtcl-glyphs", serif;
  content: "";
  font-size: 100px;
  line-height: 1.5;
}
.rtcl-store-settings .rtcl-store-media-item.rtcl-store-banner-wrap .rtcl-store-banner .banner img {
  width: 100%;
  max-height: 350px;
}
.rtcl-store-settings .rtcl-store-media-item.rtcl-store-logo-wrap .rtcl-store-logo {
  position: relative;
  background: #008329;
  min-height: 100px;
  max-width: 200px;
  text-align: center;
}
.rtcl-store-settings .rtcl-store-media-item.rtcl-store-logo-wrap .rtcl-store-logo.no-logo:after {
  font-family: "rtcl-glyphs", serif;
  content: "";
  font-size: 55px;
  line-height: 1.5;
}
.rtcl-store-settings .rtcl-store-media-item .rtcl-media-action {
  position: absolute;
  right: 0;
  top: 0;
  width: 35px;
  height: 50px;
  background: rgba(255, 255, 255, 0.6);
}
.rtcl-store-settings .rtcl-store-media-item .rtcl-media-action span {
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
  width: 25px;
  height: 20px;
  position: absolute;
  right: 0;
  cursor: pointer;
}
.rtcl-store-settings .rtcl-store-media-item .rtcl-media-action span:before {
  float: left;
  font-size: 18px;
  line-height: 16px;
  margin: 0;
  text-indent: 0;
}
.rtcl-store-settings .rtcl-store-media-item .rtcl-media-action span.add {
  top: 0;
  color: green;
}
.rtcl-store-settings .rtcl-store-media-item .rtcl-media-action span.remove {
  position: absolute;
  top: 30px;
  color: red;
}
.rtcl-store-settings .oh-item {
  margin-bottom: 8px;
}
.rtcl-store-settings .oh-item .oh-time-hour {
  width: 215px;
}
.rtcl-store-settings .oh-item .oh-time-hour .oh-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rtcl-store-settings .oh-item .oh-time-hour .oh-time input[type=text] {
  width: 100px;
  display: inline-block;
}
.rtcl-store-settings .oh-item .oh-time-active {
  width: 25px;
}
.rtcl-store-settings .oh-item .oh-time-day {
  width: 120px;
}
.rtcl-store-settings .rtcl-social-wrap input + input {
  margin-top: 10px;
}

.no-banner .rtcl-media-action span.remove,
.no-logo .rtcl-media-action span.remove {
  display: none;
}

.rtcl .rtcl-store-manager-action,
.rtcl .membership-statistic-report-wrap {
  margin-top: 1.5rem;
}
.rtcl .membership-statistic-report-wrap .reports .report-item {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 150px auto;
}
.rtcl .membership-statistic-report-wrap .reports .report-item.rtcl-membership-promotions {
  display: block !important;
}
.rtcl .promotion-validity small {
  margin-left: 4px;
}

/* ============== Store menu START ============== */
.rtcl-account-sub-menu {
  margin-bottom: 15px;
}
.rtcl-account-sub-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.rtcl-account-sub-menu ul a {
  padding: 0 7px;
}
.rtcl-account-sub-menu ul li.active a, .rtcl-account-sub-menu ul li:hover a {
  font-weight: bold;
}

#rtcl-store-content-wrap .rtcl-store-content {
  display: none;
}
#rtcl-store-content-wrap .rtcl-store-content:first-child {
  display: block;
}

#rtcl-store-managers-content .rtcl-store-manager-action {
  display: flex;
  justify-content: center;
}

.rtcl-store-im-popup .rtcl-invite-manager-wrap {
  display: flex;
}
.rtcl-store-im-popup .rtcl-invite-manager-wrap span.add-manager {
  flex: 0 0 20%;
  margin-left: 10px;
}
.rtcl-store-im-popup .rtcl-store-pp-error {
  color: red;
}

.rtcl-store-manager-listing {
  margin-bottom: 15px;
}

.rtcl-store-manager {
  display: flex;
  padding: 15px;
  background: #f2f2f2;
  position: relative;
  margin-top: 15px;
}
.rtcl-store-manager .rtcl-store-m-avatar {
  flex: 0 0 120px;
}
.rtcl-store-manager .rtcl-store-m-info {
  flex: 1;
}
.rtcl-store-manager .rtcl-store-manager-remove {
  position: absolute;
  top: 5px;
  right: 5px;
  color: red;
  cursor: pointer;
}

/* ============== Store menu END ================ */
